<div class="container header">
    <h3>Here are your personally curated items</h3>
</div>

<div class="container">
    {{!-- <div class="row"> --}}
        {{#if Not.Found}}
        <h5> {{Not.error}} </h5>
        {{/if}}
        <div class="row">
            {{#each results}}
            <a href="{{productUrl}}" class="itemlink">
                <div class="col s12 l4 box">
                    <div class="box_pic">
                        <img src={{imgUrl}} alt="" class="responsive-img">
                    </div>
                    <div class="box_info">
                        {{!-- <div class="box_description">
                            <p>{{description}}</p>
                        </div> --}}
                        <div class="box_price">
                            <p>${{price}}</p>
                        </div>
                        <div class="box_color">
                            <p>Color: {{color}}</p>
                        </div>
                        <div class="box_height">
                            <p>Fit: {{height}}</p>
                        </div>

                        <div class="box_occasion">
                            <p>Occasion: {{occasion}}</p>
                        </div>
                        <div class="box_brand">
                            <p>{{brand}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        {{!-- </div> --}}

</div>
