<div class="signup-form">
    <form action="/preferences" method="post">
        <h2>Preferences</h2>

        <div class="form-group input-field">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" name="firstName" placeholder="Name" value="{{initPref.firstName}}"
                required="required">

        </div>
        <div class="form-group input-field">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="{{initPref.lastName}}"
                required="required">
        </div>
        <div class="form-group input-field">
            <select class="form-control" id="size" name="size">
                <option>{{initPref.size}}</option>
                {{#if newclient}}
                <option value="" disabled selected>Choose your option</option>
                {{/if}}
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
            <label for="size">Size:</label>
        </div>

        <div class="form-group input-field">
            <select class="form-control" id="height" name="height">
                <option>{{initPref.height}}</option>
                {{#if newclient}}
                <option value="" disabled selected>Choose your option</option>
                {{/if}}
                <option>os</option>
                <option>t</option>
                <option>a</option>
                <option>s</option>
            </select>
            <label for="height">Height:</label>
        </div>

        <div class="form-group input-field">
            <label for="color">Color:</label>
            <input type="text" class="form-control" name="color" placeholder="Color" value="{{initPref.color}}"
                required="required">
        </div>

        <div class="form-group input-field">
            <select class="form-control" id="occasion" name="occasion">
                <option>{{initPref.occasion}}</option>
                {{#if newclient}}
                <option value="" disabled selected>Choose your option</option>
                {{/if}}
                <option>casual</option>
                <option>Business</option>
                <option>Any</option>
                <option>Cocktail</option>
                <option>Formal</option>
            </select>
            <label for="occasion">Occasion:</label>

        </div>

        <div class="form-group input-field">
            <select class="form-control" id="hender" name="gender">
                <option>{{initPref.gender}}</option>
                <option>Men</option>
                <option>Women</option>
            </select>
            <label for="hender">gender:</label>
        </div>

        <div class="col-md-6">
            <label for="minprice">Min Price</label>
            <input type="text" class="form-control" name="minprice" placeholder="min Price" value="{{initPref.minPrice}}"
                required="required">
        </div>
        <div class="col-md-6">
            <label for="maxprice">Max Price</label>
            <input type="text" class="form-control" name="maxprice" placeholder="max Price" value="{{initPref.maxPrice}}"
                required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block red">Submit</button>
        </div>
    </form>

</div>